.header {
    display: flex;
    width: 100%;
    height: 56px;
}
/* Header left */
.header .header__left {
    display: flex;
    width: 200px;
    height: 100%;
    align-items: center;
    box-sizing: border-box;
    background-color: var(--Gray-bold);
}

.header__left .header__left--ninedot{
    margin: 0 16px;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
}

.header__left .header__left--ninedot::before {
    content: "";
    top: 0px;
    left: 0px;
    width: 24px;
    height: 24px;
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-position: -424px -90px;
    position: absolute;
}

.header__left .header__left--logo {
    flex-shrink: 0;
    background-image: url(../../assets/favicon.ico);
    background-size: cover;
}

.header__left .header__left--text {
    text-transform: uppercase;
    color: white;
    margin-left: 8px;
}

.header .header__right {
    display: flex;
    flex-shrink: 0;
    width: calc(100% - 200px);
    height: 100%;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.header__right .header__right--title {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    width: 350px;
    height: 40px;
}

.header__right--title .header__right--tiles{
    position: relative;
    margin: 0 10px;
    width: 24px;
    height: 24px;
    
}

.header__right--tiles::before{
    position: absolute;
    content: "";
    top: 6px;
    left: 6px;
    width: 24px;
    height: 24px;
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-position: -847px -35px;
}

.header__right--title .header__right--company{
    text-transform: uppercase;
    font-size: 14px;
    font-family: Notosans Bold;

}
/* Header right */
.header__right .header__right--info{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
    margin-right: 24px;
}

.header__right .header__right--info .header__right--notify{
    width: 24px;
    height: 24px;
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-position: -788px -30px;
}

.header__right .header__right--info .header__right--avatar{
    display: flex;
    align-items: center;
    height: 40px;
}

.header__right--avatar .header__right--avatarlogo{
    position: relative;
    width: 40px;
    height: 40px;
    margin: 0 16px;
}

.header__right--avatarlogo::before{
    position: absolute;
    border-radius: 50%;
    content: "";
    top: -12px;
    left: -12px;
    width: 64px;
    height: 64px;
    scale:66.6%;
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-position: -608px -1140px;
}

.header__right--avatar .header__right--avatarname{
    font-size: 14px;
    font-family: Notosans Bold;
}
